html, body{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: aquamarine;
    background-color: black;
}
.movies {
    display: none;
    visibility: hidden;
}